<footer class="footer">
	<ul class="footer-socialNetworks">
		<li class="footer-socialNetworks-item">
			<a href="https://twitter.com/agilebrazil">Twitter da Agile Brazil</a>
		</li>

		<li class="footer-socialNetworks-item">
			<a href="https://www.linkedin.com/groups/Agile-Brazil-3148432">Linkedin da Agile Brazil</a>
		</li>

		<li class="footer-socialNetworks-item">
			<a href="https://www.facebook.com/AgileBrazil">Facebook da Agile Brazil</a>
		</li>

		<li class="footer-socialNetworks-item">
			<a href="https://vimeo.com/agilebrazil">Vimeo da Agile Brazil</a>
		</li>
	</ul>
</footer>