<footer class="footer">
	<ul class="footer-socialNetworks">
		<li class="footer-socialNetworks-item">
			<a href="https://twitter.com/agilebrazil">Twitter do Agile Brazil</a>
		</li>

		<li class="footer-socialNetworks-item">
			<a href="https://www.facebook.com/AgileBrazil">Facebook do Agile Brazil</a>
		</li>

		<li class="footer-socialNetworks-item">
			<a href="https://www.linkedin.com/groups/Agile-Brazil-3148432">Linkedin do Agile Brazil</a>
		</li>
	</ul>
</footer>