<header class="header">
  <h1 class="header-title"><img src="assets/img/logoAgileBrazil.png" alt="Logo da Agile Brazil"></h1>

  <nav class="header-menu">
    <ul>
      <li class="header-menu-item">
        <a href="">First</a>
      </li>

      <li class="header-menu-item">
        <a href="">Second</a>
      </li>

      <li class="header-menu-item">
        <a href="">Third</a>
      </li>

      <li class="header-menu-item">
        <a href="">Fourth</a>
      </li>

      <li class="header-menu-item">
        <a href="">Last</a>
      </li>
    </ul>
  </nav>

  <h2 class="header-subtitle">Outubro de 2015</h2>
  <h3 class="header-helpText">Porto de Galinhas</h3>

  <a href="" class="header-btnAction">Patrocine!</a>
</header>
