<header class="header">
  <h1 class="header-title"><img src="assets/img/logoAgileBrazil.png" alt="Logo da Agile Brazil"></h1>

  <h2 class="header-subtitle">Outubro de 2015</h2>
  <h3 class="header-helpText">Porto de Galinhas</h3>

  <a href="" class="buttonAction">Patrocine!</a>
</header>
