<header class="header">
  <h1 class="header-title">
  	<a href="/">
  		<img src="assets/img/logoAgileBrazil.png" alt="Logo da Agile Brazil">
  	</a>
  </h1>

  <h2 class="header-subtitle">{{homePt.conference.dates}}</h2>
  <h3 class="header-helpText">{{homePt.conference.place}}</h3>

  <a href="{{homePt.conference.callToAction-url}}" class="buttonAction">{{homePt.conference.callToAction}}</a>
</header>
