<header class="headerAa">
    <nav class="headerAa-menu">
        <ul class="headerAa-menu-list">
            <li class="headerAa-menu-list-item">
                <a href="http://agilealliance.org/pt/">Agile Alliance</a>
            </li>

            <li class="headerAa-menu-list-item">
                <a href="http://agilealliance.org/pt/membresia/">Membros</a>
            </li>

            <li class="headerAa-menu-list-item logo">
                <a href="http://agilealliance.org/pt/">
                    <img src="assets/img/logoAgileAlliance.png" alt="Logo da Agile Alliance">
                </a>
            </li>

            <li class="headerAa-menu-list-item">
                <a href="?setLng={{t "aa_bar.setLang-url"}}">{{t "aa_bar.setLang-title"}}</a>
            </li>
        </ul>
    </nav>
</header>