<header class="header">
  <h1 class="header-title">
  	<a href="/">
  		<img src="assets/img/logoAgileBrazil.png" alt="Logo da Agile Brazil">
  	</a>
  </h1>
  <h2 class="header-subtitle">{{t "conference.dates"}}</h2>
  <h3 class="header-helpText">{{t "conference.place"}}</h3>
</header>
