<section class="keynote">
	<dl class="keynote-speaker">
		<dd class="keynote-speaker-photo">
			<img src="" alt="">
		</dd>
		<dt class="keynote-speaker-title"></dt>
		<dd class="keynote-speaker-subtitle"></dd>
		<dd class="keynote-speaker-description"></dd>
		<dd class="keynote-speaker-action">
			<a href=""></a>
		</dd>
	</dl>

	<dl class="keynote-speaker">
		<dd class="keynote-speaker-photo">
			<img src="" alt="">
		</dd>
		<dt class="keynote-speaker-title"></dt>
		<dd class="keynote-speaker-subtitle"></dd>
		<dd class="keynote-speaker-description"></dd>
		<dd class="keynote-speaker-action">
			<a href=""></a>
		</dd>
	</dl>

	<dl class="keynote-speaker">
		<dd class="keynote-speaker-photo">
			<img src="" alt="">
		</dd>
		<dt class="keynote-speaker-title"></dt>
		<dd class="keynote-speaker-subtitle"></dd>
		<dd class="keynote-speaker-description"></dd>
		<dd class="keynote-speaker-action">
			<a href=""></a>
		</dd>
	</dl>
</section>