<section class="sponsorship-top">
	<h1 class="sponsorship-top-title">{{t "sponsorship.title"}}</h1>
	<p class="sponsorship-top-description">{{{t "sponsorship.callToBeSponsor"}}}</p>
</section>

<section class="wrap-supporter internal">
	<h1 class="supporter-title internal">{{t "sponsorship.support"}}</h1>
	<ul class="supporter">
		<li class="supporter-item first">
			<img src="assets/img/supporter/logoAgilidadeRecife.jpg" alt="Logo da Agilidade Recife">
		</li>
		<li class="supporter-item second">
			<img src="assets/img/supporter/logoRcvb.jpg" alt="Logo do Recife Convetion & Visitors Bureau">
		</li>
		<li class="supporter-item third">
			<img src="assets/img/supporter/logoSbc.png" alt="Logo do Sociedade Brasileira de Computação">
		</li>
		<li class="supporter-item fourth">
			<img src="assets/img/supporter/logoCinUfpe.jpg" alt="Logo do Centro de Informática UFPE">
		</li>
		<li class="supporter-item fifth">
			<img src="assets/img/supporter/logoPortoDigital.jpg" alt="Logo do Porto Digital">
		</li>
		<li class="supporter-item sixth">
			<img src="assets/img/supporter/logoSoftexRecife.jpg" alt="Logo da SoftexRecife">
		</li>
		<li class="supporter-item last">
			<img src="assets/img/supporter/logoDeinfo.jpg" alt="Logo do Departamento de Estática e Matemática UFRPE">
		</li>
	</ul>
</section>