.header {
	background: url("../img/backgrundHeader.png") no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	
	padding-top: 0.8em;
	padding-bottom: 2em;

	text-align: center;
	color: #FFF;
}
.header-title {
	margin-bottom: 3.5em;
	text-align: left;

	padding-left: 0.5em;

	position: relative;
	top: -50px;
}
.wrap-header-menu {
	margin-bottom: 3em;
}
.wrap-header-menu:before {
	content: 'Menu ▾';

	background-color: #1F8CCB;
	border-radius: 5px;
	cursor: pointer;

	font-size: 1.2em;
	font-weight: 600;
	line-height: 2em;
	text-indent: 0.2em;

	display: block;
	width: 42%;
	height: 2em;

	margin-right: auto;
	margin-left: auto;
}
.wrap-header-menu:hover .header-menu,
.wrap-header-menu:active .header-menu {
	max-height: 1000px;
	margin-bottom: 0;
}
.header-menu {
	max-height: 1000px;
	overflow: hidden;

	transition: max-height 0.5s linear;
}
.header-menu-item a {
	background-color: #1F8CCB;

	color: #FFF;
	line-height: 2.5em;
	text-decoration: none;

	display: block;
	width: 42%;
	height: 2.5em;
	margin-left: auto;
	margin-right: auto;
}
.header-subtitle {
	font-weight: 600;
	font-size: 2em;
	line-height: 1.1em;
}
.header-helpText {
	font-weight: 300;
	font-size: 0.9em;
	line-height: 1em;

	margin-bottom: 7.5em;
}
.header .buttonAction {
	background-color: #FFF;
	color: #1F8CCB;
}
@media(min-width: 400px) {
	.header {
		font-size: 1.3em;
	}
	.header-title {
		margin-bottom: 2.5em;
	}
	.header-helpText {
		margin-bottom: 2.5em;
	}
}
@media(min-width: 540px) {
	
}
@media(min-width: 520px) {
	.header {
		font-size: 1.7em;
	}
}
@media(min-width: 537px) {
   	.header-title {
   		position: static;
   	}
}