.program {
	background: url(../img/backgroundProgram.png) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	color: #1F8CCB;
	text-align: center;

	padding-top: 2em;
	padding-bottom: 10em;
	position: relative;
	overflow: hidden;
}
.program-title {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program-description {
	font-size: 1.4em;
	font-weight: 300;

	max-width: 465px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program .buttonAction {
	background-color: #1F8CCB;
	color: #FFF;
}
.program:after {
	content: url(../img/iconProgram.svg);

	display: block;
	max-width: 300px;
	width: 152px;

	transform: rotateY(180deg);

	position: absolute;
	left: -45px;
	bottom: -52px;
}
@media(min-width: 400px) {
	.program:after {
		width: 160px;
		left: -15px;
	}
}
@media(min-width: 520px) {
	.program:after {
		width: 175px;
		left: 37px;
		bottom: -85px;
	}
}
@media(min-width: 600px) {
	.program:after {
		width: 195px;
		left: 60px;
		bottom: -100px;
	}	
}
@media(min-width: 750px) {
	.program:after {
		left: 130px;
	}
}
@media(min-width: 800px) {
	.program {
		text-align: left;

		padding: 7em 15%;
	}
	.program-title,
	.program-description,
	.program .buttonAction {
		margin-left: 0;
		margin-right: 0;
	}
	.program:after {
		transform: rotateY(0deg);

		width: 30%;
		left: auto;
		bottom: -140px;
		right: 10%;
	}
}