.program {
	color: #1F8CCB;
	text-align: center;

	padding-top: 2em;
	padding-bottom: 2em;
}
.program-title {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 79.6875%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program-description {
	font-size: 1.4em;
	font-weight: 300;

	width: 79.6875%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program-action {
	background-color: #1F8CCB;
	border-radius: 5px;

	color: #FFF;
	font-weight: 600;
	text-decoration: none;
	line-height: 2.8125em;

	display: block;
	width: 60.9375%;
	height: 2.8125em;
	margin-left: auto;
	margin-right: auto;
}