.program {
	background: url(../img/backgroundProgram.png) no-repeat center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;

	color: #1F8CCB;
	text-align: center;

	padding-top: 2em;
	padding-bottom: 10em;
	position: relative;
}
.program-title {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 800;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program-description {
	font-size: 1.4em;
	font-weight: 300;

	max-width: 465px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.8em;
}
.program .buttonAction {
	background-color: #1F8CCB;
	color: #FFF;
}
.program:after {
	content: url(../img/iconProgram.svg);

	display: block;
	width: 152px;

	transform: rotateY(180deg);

	position: absolute;
	left: -45px;
	bottom: -52px;
}