.wrap-supporter {
	background-color: #1F8CCB;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.supporter {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.supporter-item {
	background-color: #FFF;

	padding: 10px;
}
.supporter-item:not(:last-child) {
	margin-bottom: 10px;
}
.supporter-item img {
	width: 180px;
}